body{
  font-family:'poppins',sensarif;
}
.loginslide{
  display:flex;
  justify-content:center;
  align-items:center;
  background:#ffccdd;  
  padding:90px; 
background:url(https://images.pexels.com/photos/9434908/pexels-photo-9434908.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;  
}
.content{
  display:flex;
  flex-wrap:wrap;
  justify-content:center; 
  text-align:left; 
  width:50%;  
}
.loginform{
  width:50%;   
}
.desc{
 display: flex;
 flex-direction: column;
  justify-content: flex-start;
  background:rgb(0,0,0,0.3);
  padding:90px;
  color:#fff;
  border-radius:10px;
}
.login{
display:flex;
justify-content:flex-end;
  align-items:center;
}
.lbl{
      margin-bottom: -10px !important;
}
form{
 display:flex;
  flex-direction:column;   
  background:#fff;
  width:350px;
  padding:20px 20px;
  border-radius:5px;  
  font-size:18px;
  text-align:left;
   margin:5px;
}
input{
  padding:10px 12px;
  outline:none;
  border:none;
  background-color:#dddfff;
  border-radius:3px;
  margin-bottom:20px;
  margin-top:0px;   
}
button{
  background:#ff9920;
  padding:14px ;
  outline:none;
  border:none;
  border-radius:5px;
}
.fpr{
  display:flex;
  justify-content:space-between;
  font-size:14px;
  margin-bottom:20px;
}

@media(max-width:768px){
 .loginslide{
    flex-direction:column;
  }
  .loginform{
    margin-top:40px;
  }
  .desc{
    padding:20px;
  }
  
}
